---
layout: base.njk
---

<article class="section">
  <header class="article-header">
    <h1>{{ title }}</h1>
    <p class="article-meta">{{ date | postDate }}</p>
  </header>
  <div class="article-content">
    {{ content | safe }}
  </div>
</article>

