---
layout: archive
---

{{ content }}             

<!-- New Introduction Section -->
<div class="introduction-section" style="margin-bottom: 2em;">
  <h3>ML Engineer</h3>
  <p>
    I'm just someone who enjoys the complexities and challenges of data. My worldview is often guided by Bayesian thinking, even though I confess to occasionally falling prey to cognitive biases.</p>
  </p>
    I am an engineer with a Master's in Data Science, and as an almost-avid reader, I've naturally cultivated a keen interest in Natural Language Processing. On a lighter note, I'm a calisthenics amateur.
  </p>
</div>

<!-- New section for Featured Projects -->
<div class="featured-projects" style="margin-bottom: 2em; clear: both;">
  <h3 class="archive__subtitle">Recent Stuff</h3>
  
  <!-- Grid Layout for Projects -->
  <div class="entries-grid">
    <div class="grid__wrapper">
      {% assign sorted_projects = site.portfolio | where: "featured", true | sort: "order" %}
      {% for project in sorted_projects limit:3 %}                
        {% if project.featured %}
          <article class="grid__item">
            <a href="{{ project.github_url }}" target="_blank">
              <img src="{{ project.image_path }}" alt="{{ project.short_title }}" class="archive__item-teaser">
            </a>
            <h2 class="archive__item-title">
              <a href="{{ project.github_url }}" target="_blank">{{ project.short_title }}</a>
            </h2>
            <p class="archive__item-excerpt">
              {{ project.short_description }}
            </p>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>

<!-- See More Projects Link -->
<div style="text-align: center">
  <a href="{{ '/portfolio/' | relative_url }}" class="btn">See More Stuff</a>
</div>
<!-- End of new section -->

  <!-- Recent Posts section -->
  <div class="recent-posts" style="clear: both;">
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
    
    <!-- Existing code for recent posts -->
    {% if paginator %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}
  
    <div class="entries-{{ entries_layout }}">
      {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  
    {% include paginator.html %}
  </div>

</div>  <!-- End of content-wrapper -->
